@font-face {
    font-family: 'Überschrift';
    src: url('fonts/Blockhead-BlackFace-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Texte';
    src: url('fonts/fonnts.com-Chantal_Medium.ttf') format('truetype');
}

/* Allgemeine Stile für die Seite */
body {
    font-family: 'Texte', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

/* Header-Stile */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
    font-family: 'Texte', Arial, sans-serif;
}

header div {
    flex: 1;
    text-align: center;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
}

/* Top Section Stile */
.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.top-section .image-box {
    width: 50%;
}

.top-section .image-box img {
    width: 100%;
    height: auto;
}

.top-section .title-box {
    width: 50%;
    text-align: center;
}

.top-section .title-box h1 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 300%;
}

/* Trailer Section Stile */
.trailer-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trailer-section h2 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
    text-align: center; /* Mittig ausrichten */
}

.video-box {
    width: 80%;
    max-width: 800px;
    padding: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    border: none;
}

.video-box video {
    width: 100%;
    height: auto;
    display: block;
}

/* Description Section Stile */
.description-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert den Inhalt horizontal */
}

/* Beschreibungskasten Stile */
.description-box {
    font-size: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 70%; /* Reduzierte Breite */
    text-align: center; /* Zentriert den Text */
}

/* Bildboxen Stile */
.image-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Zentriert die Bilder innerhalb des Containers */
    align-items: center;
    max-width: 100%; /* Stellt sicher, dass der Container die volle Breite nutzt */
}

.image-box {
    width: 48%;
    margin: 1%;
}

.image-box img {
    width: 100%;
    height: auto;
}


/* Problem Section Stile */
.problem-section {
    padding: 20px;
}

.problem-section h3 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
    text-align: center; /* Mittig ausrichten */
}

.problem-box {
    display: flex;
    justify-content: space-between;
}

.problem-text {
    width: 48%;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.problem-image {
    width: 48%;
}

.problem-image img {
    width: 100%;
    height: auto;
}

/* Design Phase Stile */
.design-phase {
    padding: 20px;
    font-size: 125%;
}

.design-phase h3 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
}

.design-box {
    display: flex;
    justify-content: space-between;
}

.design-text {
    width: 60%;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.design-image {
    width: 35%;
}

.design-image img {
    width: 100%;
    height: auto;
}

.image-strip-box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-strip-right-box {
    display: flex;
    justify-content: center;
    width: 60%; /* Verkleinert die Breite der Bildleiste auf 60% */
}

.image-strip-right-box img {
    width: 15%; /* Verkleinert die Breite der einzelnen Bilder auf 15% */
    height: auto;
    margin: 0 3px; /* Reduziert den Abstand zwischen den Bildern */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
}

.left-text-box {
    width: 60%;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.right-images-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-images .image-box {
    margin-bottom: 10px;
}

.right-images img {
    width: 100%;
    height: auto;
}


/* Backgrounds Stile */
.backgrounds {
    padding: 20px;
    font-size: 100%;
}

.backgrounds h3 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
    text-align: center; /* Mittig ausrichten */
}

.background-text-box {
    width: 70%; /* Reduzierte Breite */
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Zentriert den Textkasten */
}

.background-images-box {
    display: flex;
    flex-wrap: wrap; /* Umbrüche ermöglichen */
    justify-content: space-between;
}

.background-image-box {
    width: 22%;
}

.background-image-box img {
    width: 100%;
    height: auto;
}

/* Animation Stile */
.animation {
    padding: 20px;
    font-size: 125%;
}

.animation h3 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
    text-align: center; /* Mittig ausrichten */
    
}

.animation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-text {
    width: 70%; /* Reduzierte Breite */
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Zentriert den Textkasten */
}

.animation-videos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.video-box {
    width: 45%;
    margin: 0 10px;
}

.video-box video {
    width: 100%;
    height: auto;
    display: block;
}

/* Post-Production Stile */
.post-production {
    padding: 20px;
}

.post-production h3 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
    text-align: center; /* Mittig ausrichten */
}

.post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-images-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-image-box {
    width: 30%;
    margin: 1%;
}

.post-image-box img {
    width: 100%;
    height: auto;
}

.post-text-box {
    width: 70%; /* Reduzierte Breite */
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Zentriert den Textkasten */
}

/* Technical Info Stile */
.technical-info {
    padding: 20px;
    font-size: 100%;
}

.technical-info h3 {
    font-family: 'Überschrift', Arial, sans-serif;
    font-size: 250%;
    text-align: center; /* Mittig ausrichten */
}

.technical-text-box {
    width: 70%; /* Reduzierte Breite */
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Zentriert den Textkasten */
}
